html {
  background: #f2f2f2;
}

body {
  margin: 0;
  padding: 0;
  width: 1200px;
  margin: 0 auto;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #A9A9A9;
  text-transform: uppercase;
  box-shadow: 0 0 20px 0 #dbdbdb;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Шапка сайта */

.main-header {
  margin-top: 0;
  margin-bottom: 15px;
  width: 100%;
}

.main-navigation {
  position: relative;
  color: #000000;
}

.navigation-logo {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

.site-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.site-navigation li {
  width: 20%;
  text-align: center;
  margin-top: 15px;
}

.site-navigation li:nth-child(3) {
  margin-left: 20%;
}

.site-navigation a {
  color: #000000;
  font-weight: bold;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81B3D2;
}

.site-navigation a:active {
  color: #CACACA;
}

.navigation-logo {
  position: absolute;
}

a {
  text-decoration: none;
}

.background {
  background-image:
    url(../img/polygon.svg),
    url(../img/background-photo.jpg);
  background-position:
    bottom center,
    top center;
  background-repeat: no-repeat;
}

.welcome-logo {
  display: block;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 70px;
}

.description-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sedona-description {
  text-align: center;
  font-size: 21px;
  color: #000000;
  font-weight: bold;
  margin: 0 auto;
  padding: 0;
  margin-top: 50px;
  width: 445px;
}

.cool-reasons {
  margin: 0;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
  color: #333333;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Блок причин */

.reason-blue div {
  background-color: #81B3D2;
}

.reasons-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
}

.reason-blue {
  display: flex;
}

.inner-reasons-list {
  display: flex;
  padding: 0;
}

.reasons-list,
.reason-item,
.reason-item-inner {
  list-style: none;
}

.reason-item {
  text-align: center;
  line-height: 21px;
}

.reason-item p {
  margin: 0 50px;
}

.reason-item-inner {
  width: 33.333333%;
  text-align: center;
  line-height: 21px;
  padding-top: 60px;
  padding-bottom: 80px;
}

.reason-item-inner p {
  padding-left: 70px;
  padding-right: 70px;
  color: #333333;
}

.reason-item h3,
.reason-item-inner h3 {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  font-weight: bold;
}

.reason-blue p,
.reason-blue h3 {
  color: #ffffff;
}

.reason-blue h3 {
  padding-top: 45px;
  margin-bottom: 0;
}

.reason-blue p {
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

.reason-grey {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #EEEEEE;
  width: 400px;
  padding-bottom: 45px;
}

.reason-grey h3 {
  padding-top: 45px;
  margin-bottom: 0;
}

.reason-grey p {
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
  color: #333333;
}

/* Поиск отелей на главной странице */

.hotel-search {
  width: 568px;
  text-align: center;
  margin: 0 auto;
  color: #000000;
}

.hotel-search.container p:first-of-type {
  font-weight: normal;
}

.date {
  position: relative;
}

.calendar {
  border: none;
  position: absolute;
  background: transparent;
  right: 0;
  top: 5px;
}

.calendar path,
.calendar rect {
  fill: #a9a9a9;
}

.calendar:hover path,
.calendar:focus path,
.calendar:hover rect,
.calendar:focus rect {
  fill: #000000;
}

.calendar:active path,
.calendar:active rect {
  fill: #81b3d2;
}

.search-item label {
  margin-right: 20px;
}

.search-item input {
  background-color: #f2f2f2;
  border: 0;
  box-sizing: border-box;
  width: 346px;
  padding: 10px;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
}

.count {
  display: flex;
  justify-content: space-between;
}

.minus,
.plus {
  font-size: 30px;
  color: #a9a9a9;
}

.minus:hover,
.minus:focus,
.plus:hover,
.plus:focus {
  color: #000000;
}

.minus:active,
.plus:active {
  color: #81b3d2;
}

.people {
  display: flex;
  justify-content: space-between;
  width: 458px;
}

.adults,
.children {
  display: flex;
  margin-bottom: 30px;
}

.adults button,
.children button {
  border: none;
  background: #f2f2f2;

}

.adults label {
  margin-right: 40px;
  padding-top: 5px;
}

.children label {
  padding-top: 5px;
}

.count input,
.count input {
  width: 38px;
  background-color: #f2f2f2;
  border: 0;
  box-sizing: border-box;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  padding-right: 0;
  text-align: center;
}

.search-item input:hover,
.search-item input:focus {
  background-color: #ebebeb;
}

.search-item input:active {
  background-color: #ffffff;
}

.search-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-weight: bold;
  position: absolute;
  background: #fff;
  left: 0;
  top: 100%;
  padding-top: 50px;
}

.hotel-search {
  position: relative;
}

.hotel-search h2 {
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  margin-top: 60px;
}

.hotel-search p {
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 55px;
}

.search-title h2 {
  color: #ffffff;
  background-color: #766357;
  padding: 20px 0;
  font-size: 21px;
  line-height: 26px;
}

.search-title:hover h2,
.search-title:focus h2 {
  background-color: #604E43;
}

.search-title:active h2 {
  background-color: #503E33;
  color: #857871;
}

.hotel-search form {
  /* display: none; */
}

.hotel-search button[type="submit"] {
  width: 458px;
  padding: 20px 195px;
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 55px;
  color: #ffffff;
  background-color: #81B3D2;
  text-transform: uppercase;
  border: none;
}

.hotel-search button[type="submit"]:hover,
.hotel-search button[type="submit"]:focus {
  background-color: #669EC0;
}

.hotel-search button[type="submit"]:active {
  background-color: #5496BD;
  color: #94B9D2;
}

/* Футер */

.main-footer {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px 0;
  color: #000000;
}

.footer-index {
  position: relative;
  z-index: 1;
  margin-top: -120px;
}

.footer-container {
  display: flex;
  justify-content: space-around;
}

.main-footer p:first-child {
  font-size: 21px;
  font-weight: bold;
}

.footer-social {
  text-align: center;
}

.footer-social ul {
  display: flex;
  width: 150px;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 10px auto;
  padding: 0;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.social-button:active path {
  fill: #88b6d1;
}

.footer-copyright {
  display: flex;
  width: 241px;
  align-items: center;
  justify-content: center;
  color: #000000;
}

.footer-copyright span {
  margin-right: 5px;
}

.logo-html:hover path,
.logo-html:focus path {
  fill: #81b3d2;
}

.logo-html:active path {
  fill: #bdbbbc;
}

/* Разметка страницы каталога */

.site-navigation-current a {
  color: #766357;
}

.hotel-choosing form {
  display: flex;
  justify-content: space-between;
  background-image: url(../img/filter-background.jpg);
  background-size: cover;
  background-position: center -60px;
  background-repeat: no-repeat;
  color: #ffffff;
  background-color: #81B3D2;
  width: 1056px;
  padding: 0 73px;
}

.filter-left-column {
  display: flex;
  margin-top: 20px;
}

.filter-right-column {
  margin-top: 30px;
  margin-right: 10px;
}

.hotel-choosing ul {
  list-style: none;
}

.hotel-choosing button {
  background-color: transparent;
  color: #ffffff;
}

.hotel-choosing button:hover,
.hotel-choosing button:focus {
  background-color: #ffffff;
  color: #000000;
}

.hotel-filter {
  width: 241px;
  margin-bottom: 35px;
}

.hotel-filter h2 {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
}

.hotel-filter label {
  position: relative;
  padding-left: 40px;
}

.hotel-filter label::before {
  content: "";
  width: 27px;
  height: 23px;
  position: absolute;
  left: 0;
  top: 0;
  background: url(../img/checkbox-off.svg) center center no-repeat;
  background-size: 100% 100%;
}

input:checked + label::before {
  background: url(../img/checkbox-on.svg) center center no-repeat;
  background-size: 100%;
}

input[disabled] + label::before {
  opacity: 0.5;
}

/* Разметка сложного фильтра */

.filter-range {
  width: 330px;
  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  height: 36px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 38px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
  margin-bottom: 30px;
}

.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}

/* */

.catalog-text-block {
  display: flex;
  justify-content: space-between;
  list-style: none;
  border-bottom: 1px solid #e5e5e5;
}

.text-left {
  display: flex;
  width: 528px;
  justify-content: space-between;
  margin-left: 30px;
  align-items: baseline;
  padding-bottom: 10px;
}

.left-founded {
  font-size: 21px;
  font-weight: bold;
  color: #000000;
  margin-right: 15px;
}

.text-sort {
  color: #000000;
}

.text-type a {
  color: #bdbbbc;
  border-bottom: 1px dotted #bdbbbc;
}

.text-current a {
  color: #81b3d2;
  border-bottom: none;
}

.text-type a:hover,
.text-type a:focus {
  color: #81b3d2;
  border-bottom: 1px dotted #81b3d2;
}

.text-type a:active {
  color: #000000;
  border-bottom: none;
}

.text-right {
  margin-right: 75px;
  margin-top: 25px;
}

.triangles {
  display: flex;
  margin-right: 5px;
}

.triangle-down {
  margin-left: 12px;
}

.triangle-up polygon,
.triangle-down polyline {
  fill: #bdbbbc;
}

.triangle-current polyline {
  fill: #81b3d2;
}

.triangle-up:hover polygon,
.triangle-up:focus polygon,
.triangle-down:hover polyline,
.triangle-down:focus polyline {
  fill: #231f20;
}

.triangle-up:active polygon,
.triangle-down:active polyline {
  fill: #81b3d2;
}

/* Найденные отели */

.hotels-list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  padding: 0;
  margin-left: 75px;
}

.hotel-item {
  display: flex;
  width: 1050px;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}

.left-column {
  display: flex;
  width: 425px;
  justify-content: space-between;
}

.right-column {
  width: 125px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
}

a.hotel-name {
  color: #000000;
  font-weight: 21px;
}

a.hotel-name:hover,
a.hotel-name:focus {
  color: #669EC0;
}

a.hotel-name:active {
  color: #CACACA;
}

.hotel-item p {
  line-height: 21px;
  color: #333333;
}

.more {
  background-color: #81B3D2;
  color: #ffffff;
  width: 110px;
  padding: 5px 15px;
  font-weight: bold;
}

a.more:hover,
a.more:focus {
  background-color: #669EC0;
}

a.more:active {
  background-color: #5496BD;
  color: #94B9D2;
}

.book {
  background-color: #766357;
  color: #ffffff;
  width: 142px;
  padding: 5px 15px;
  font-weight: bold;
}

a.book:hover,
a.book:focus {
  background-color: #604E43;
}

a.book:active {
  background-color: #503E33;
  color: #928A85;
}

.rate {
  background-color: #F2F2F2;
  width: 110px;
  padding: 5px 10px;
  text-align: center;
}

.hotel-item img {
  margin-top: 20px;
}
