body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #A9A9A9;
  text-transform: uppercase;

  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
}

.main-navigation {
  color: #000000;
}

.site-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.site-navigation a {
  color: #000000;
  font-weight: bold;
}

.site-navigation a:hover {
  color: #81B3D2;
}

.site-navigation a:active {
  color: #CACACA;
}

a {
  text-decoration: none;
}

.background {
  display: flex;
  background-image: url(../img/background-photo.jpg);
  background-position: top center;
  background-repeat: no-repeat;
}

.background img {
  margin: auto;
  margin-top: 80px;
  margin-bottom: 90px;
}

.description-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sedona-description {
  text-align: center;
  font-size: 21px;
  color: #000000;
  font-weight: bold;
  width: 445px;
  margin: 0;
  padding: 0;
  margin-top: 65px;
}

.cool-reasons {
  margin: 0;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
}

.reasons-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
}

.inner-reasons-list {
  display: flex;
}

.reasons-list,
.reason-item,
.reason-item-inner {
  list-style: none;
}

.reason-item {
  width: 400px;
  text-align: center;
  line-height: 21px;
  padding-bottom: 42px;
  padding-top: 38px;
}

.reason-item-inner {
  margin-bottom: 90px;
  width: 400px;
  text-align: center;
  line-height: 21px;
  color: #000000;
}

.reason-item h3,
.reason-item-inner h3 {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  font-weight: bold;
}

.reason-blue,
.reason-blue h3 {
  background-color: #81B3D2;
  color: #ffffff;
}

.reason-grey {
  background-color: #EEEEEE;
}

.interest {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.interest h2 {
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  margin-top: 60px;
  margin-bottom: 40px;
}

.interest p {
  line-height: 24px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 55px;
}

.hotel-search {
  width: 568px;
}

.hotel-search h2 {
  text-align: center;
  color: #ffffff;
  background-color: #766357;
}

.hotel-search p {
  font-weight: bold;
  color: #000000;
}

.search-title:hover h2 {
  background-color: #604E43;
}

.search-title:active h2 {
  background-color: #503E33;
  color: #857871;
}

.hotel-search button[type="submit"] {
  color: #ffffff;
  background-color: #81B3D2;
  text-transform: uppercase;
}

.hotel-search button[type="submit"]:hover {
  background-color: #669EC0;
}

.hotel-search button[type="submit"]:active {
  background-color: #5496BD;
  color: #94B9D2;
}

.main-footer {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 50px 0;
  color: #000000;
}

.footer-container {
  display: flex;
  justify-content: space-around;
}

.main-footer p:first-child {
  font-size: 21px;
  font-weight: bold;
}

.footer-social {
  text-align: center;
}

.footer-social ul {
  list-style: none;
}

.social-button {
  color: #000000;
}

.footer-copyright {
  color: #000000;
}

/* Разметка страницы каталога */

.site-navigation-current a {
  color: #766357;
}

.hotel-wrapper {
  display: flex;
  background-image: url(../img/filter-background.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  color: #ffffff;
  background-color: #81B3D2;
  width: 1200px;
  padding: 30px 70px;
}

.hotel-choosing ul {
  list-style: none;
}

.hotel-choosing button {
  background-color: transparent;
  color: #ffffff;
}

.hotel-choosing button:hover {
  background-color: #ffffff;
  color: #000000;
}

.hotel-filter {
  width: 200px;
  margin-bottom: 35px;
  margin-right: 60px;
}

.hotel-filter h2 {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
}

.hotels-list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}

.hotel-item {
  display: flex;
  margin-left: 75px;
  margin-right: 75px;
  width: 1050px;
  justify-content: space-between;
}

.left-column {
  display: flex;
  width: 425px;
  justify-content: space-between;
}

.right-column {
  width: 125px;
}

a.hotel-name {
  color: #000000;
  font-weight: 21px;
}

a.hotel-name:hover {
  color: #669EC0;
}

a.hotel-name:active {
  color: #CACACA;
}

.hotel-item p {
  line-height: 21px;
}

.more {
  background-color: #81B3D2;
  color: #ffffff;
  width: 110px;
}

a.more:hover {
  background-color: #669EC0;
}

a.more:active {
  background-color: #5496BD;
  color: #94B9D2;
}

.book {
  background-color: #766357;
  color: #ffffff;
  width: 142px;
}

a.book:hover {
  background-color: #604E43;
}

a.book:active {
  background-color: #503E33;
  color: #928A85;
}

.rate {
  background-color: #F2F2F2;
  width: 110px;
}
